/*!**********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/view/components/common/navbar/navbar.module.css ***!
  \**********************************************************************************************************************************************/
.a3Dh5bmKu1gL6PlXb0vT {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gufc9iq9nlrSy_PmTMwf {
  display: flex;
  flex-direction: row;
  align-items: center;
}

a {
  margin-right: 25px;
  text-decoration: none;
  color: black;
  transition: 0.4s all ease-in;
}

.NDaQX9Cvno3GywGeMo6T {
  position: absolute;
  width: 3rem;
  transition: 0.4s all ease-in;
}

a img:hover {
  width: 3.5rem;
}

a:hover {
  color: rgb(83, 139, 126);
}

.bftPp25FIUYccGjICnxy {
  display: none;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

.mUYQ0zPYXJO3ND6jg4KU {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
  transition: 0.4s;
}

.j0rqzrhZq1RT7c7I0HMd {
  transform: rotate(90deg);
  z-index: 600;
}

@media (max-width: 768px) {
  .gufc9iq9nlrSy_PmTMwf {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 5.5rem;
    left: 0;
    padding: 10px 0 25px 0;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    border: none;
    z-index: 600;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }
  .gufc9iq9nlrSy_PmTMwf.RCvB_sFKKavcdnJPF7LH {
    max-height: 600px;
    opacity: 1;
  }
  .bftPp25FIUYccGjICnxy {
    display: flex;
    z-index: 700;
  }
  a {
    margin: 10px 0;
  }
  a:last-child {
    margin-left: 0;
    margin-right: 0;
  }
  .lGFtcmSy1qSFY7645sz5 {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 10rem;
    left: 0;
    background: rgba(128, 128, 128, 0.3);
    z-index: 500;
  }
}
/*!**************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/view/components/common/NologinMessage/NologinMessage.module.css ***!
  \**************************************************************************************************************************************************************/
.kFl7GFotcmbwurSPGa12 {
  position: absolute;
  padding: 0.5rem;
  display: flex;
  width: 100%;
  height: 3rem;
  background-color: rgba(238, 225, 46, 0.8);
  align-items: center;
  transition: 0.4s all ease-in;
}
.kFl7GFotcmbwurSPGa12 .fP6ocx86KiSxBDuY3GIQ {
  font-size: 1.2rem;
  text-align: center;
}
.kFl7GFotcmbwurSPGa12 .fP6ocx86KiSxBDuY3GIQ a {
  margin-left: 2rem;
  text-decoration: none;
  color: var(--primary-text-color);
  transition: 0.4s all ease-in;
}
.kFl7GFotcmbwurSPGa12 .fP6ocx86KiSxBDuY3GIQ a:hover {
  font-weight: 600;
}
.kFl7GFotcmbwurSPGa12 .LPc0zPF0dB72U5bshP6J {
  position: absolute;
  background-image: url(6c222a42920c18d7ed37.svg);
  background-size: cover;
  width: 2rem;
  height: 2rem;
  border: none;
  right: 1rem;
  z-index: 700;
  transition: 0.4s all ease-in;
}
.kFl7GFotcmbwurSPGa12 .LPc0zPF0dB72U5bshP6J:hover {
  width: 2.2rem;
  height: 2.2rem;
}

.OcZ85bQozmjlksJg5LLS {
  height: 0;
  padding: 0;
}
/*!**********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/view/components/common/header/header.module.css ***!
  \**********************************************************************************************************************************************/
.QLiW3vQA2NbfBSo03tP5 {
  padding: 15px;
  display: flex;
  justify-content: right;
  font-size: 1.6rem;
}

.ELQMUmcq2AtEtSictS5A {
  position: absolute;
  top: 1rem;
  left: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  background-image: url(573759fac93de251ee4f.png);
  background-size: cover;
  z-index: 2000;
  transition: 0.4s all ease-in;
}

.ELQMUmcq2AtEtSictS5A:hover {
  width: 5rem;
  height: 5rem;
}
/*!****************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/view/pages/Main/call-to-action.module.css ***!
  \****************************************************************************************************************************************/
.X14psiPmAI8qLa8Jaaj0 {
  background-image: url(bf8a2064b349646a655b.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/*!******************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/view/pages/Main/main.module.css ***!
  \******************************************************************************************************************************/
.PyhhkGrIJKupkvgUoXwd {
  color: var(--light-text-color);
  background-color: var(--accent-color);
}

.EVUaOmkJViPRGBWKWf1r {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.reOXERNm0HzZ7cvggznw {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reOXERNm0HzZ7cvggznw .rQTlteFauBWvtY6u5dML {
  margin-bottom: 3rem;
  font-size: 4rem;
}
.reOXERNm0HzZ7cvggznw .FXVShqsj6zZ4JMGcLpdU {
  margin-top: 1rem;
  font-size: 2rem;
}
/*!***************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/view/components/common/Button/button.css ***!
  \***************************************************************************************************************************************/
.myBtn {
  padding: 5px 15px;
  color: teal;
  font-size: 14px;
  background: transparent;
  border: 1px solid teal;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  width: 15rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.4s all ease-in;
}

.btn-center {
  margin-top: 5rem;
}

.myBtn:hover {
  background-color: rgb(255, 255, 255);
}
/*!**********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/view/pages/Main/greeting.module.css ***!
  \**********************************************************************************************************************************/
.WnOtiTkuj1OQXSAfPR42 {
  background-image: url(f3cf320395faca946ac1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.WnOtiTkuj1OQXSAfPR42 .WPTyCl_tyqDpOTmfLYwQ {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
/*!*******************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/view/pages/Main/offer.module.css ***!
  \*******************************************************************************************************************************/
.o3NklPLNqV1r9yPrc11t {
  background-image: url(0459c4cfbd49b6e64459.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/*!**********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/view/components/common/footer/footer.module.css ***!
  \**********************************************************************************************************************************************/
.hHH46VJC7somO7oot1nX {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.hHH46VJC7somO7oot1nX .V7Q2Z2S88Qt9hDRIgSwu {
  display: flex;
  justify-content: left;
}
.hHH46VJC7somO7oot1nX .V7Q2Z2S88Qt9hDRIgSwu p {
  margin-right: 2rem;
}
.hHH46VJC7somO7oot1nX .V7Q2Z2S88Qt9hDRIgSwu ._UVKGUsJ8U0ifYowjxvA {
  background-image: url(dc3f1229c98ceb25ed6d.svg);
}
.hHH46VJC7somO7oot1nX .V7Q2Z2S88Qt9hDRIgSwu .r4feBwkHHc87x8yAiqoR {
  background-image: url(1fc810a8e15c60ec41d7.svg);
}
.hHH46VJC7somO7oot1nX .V7Q2Z2S88Qt9hDRIgSwu .fQbzHPs2XSUx1cEtJpP0 {
  width: 3rem;
  height: 3rem;
  background-size: cover;
  opacity: 0.8;
  transition: 0.4sec all ease-in;
}
.hHH46VJC7somO7oot1nX .V7Q2Z2S88Qt9hDRIgSwu .fQbzHPs2XSUx1cEtJpP0:hover {
  opacity: 1;
  cursor: pointer;
}
/*!********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/view/components/signup/signup-form.module.css ***!
  \********************************************************************************************************************************************/
.t2fc9oUzL7o3_2VPgG0t {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

.HlGBVyLsCjWRr5FgqUNs {
  color: var(--accent-color);
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
}

.r8Xw0G3onHSHu_mzdO2i {
  font-size: 1.8rem;
  padding: 1rem 1.6rem;
  height: 4rem;
  border-radius: 1.2rem;
  background-color: var(--default-bg-color);
  color: var(--primary-text-color);
  border-color: var(--border-color);
  cursor: text;
  width: 30rem;
}

.f5LNBQzNcz6L3Reqo4IE {
  border: var(--accent-color) 2px solid;
}

.r8Xw0G3onHSHu_mzdO2i[name=postalCode]:disabled {
  background-color: var(--gray-bg-color);
  cursor: not-allowed;
}

.fIigrWDuUGo66yhB_8Tg {
  align-self: center;
  font-size: 1.8rem;
  margin-top: 1rem;
  padding: 1rem 4rem;
  width: 20rem;
  height: 4rem;
  border-radius: 1.2rem;
  background-color: var(--primary-text-color);
  color: var(--light-text-color);
  border-color: var(--border-color);
  cursor: pointer;
  align-self: center;
}

.fIigrWDuUGo66yhB_8Tg:disabled {
  cursor: not-allowed;
  background-color: var(--gray-bg-color);
  color: rgba(220, 220, 220, 0.433);
}

.f6Lqk44aC8lIcEOzu1wz {
  padding: 0.5rem 0;
  font-size: 1.8rem;
  display: flex;
  width: 30rem;
  gap: 0.2rem;
  color: var(--primary-text-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.d16TZ0WGaZjuzT3JyOuy {
  display: flex;
  padding: 2rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.HdX6Bq8zheg5IWtx5AKP {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--body-text-color);
  width: fit-content;
  padding: 10rem;
  border-radius: 50%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.7) 0 100%);
}

.sMIGHKBJicuiQ42E4Hn5 {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.7) 0 100%);
  border-radius: 1.2rem;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
}

.sMIGHKBJicuiQ42E4Hn5 a:last-child {
  margin: 0 1rem;
  font-size: 1.6rem;
}
/*!**********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/view/pages/Signup/signup.module.css ***!
  \**********************************************************************************************************************************/
.d6_pZZdJAIKXZrcHMfNj {
  padding: 1rem 0;
  background-image: url(f3cf320395faca946ac1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--default-text-color);
}
.d6_pZZdJAIKXZrcHMfNj a {
  text-decoration: none;
  color: var(--accent-color);
  transition: 0.4s all ease-in;
}
.d6_pZZdJAIKXZrcHMfNj a:hover {
  text-decoration: underline;
  transition: 0.4s all ease-in;
}

.FKUNuY354XeT4dCiyhLl {
  transition: 0.4s all ease-in;
}

.RUNof8mLYajEQQYTefl7 {
  opacity: 0.2;
  pointer-events: none;
}

._oMRvey3ZScGi_ZLzmBV {
  opacity: 0;
  transition: 0.4s all ease-in;
  visibility: hidden;
}

.xviIlbbcb6o5wYIE1tVF {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: 0.4s all ease-in;
  visibility: visible;
}

.yV3d93TkljbOeyePU_zw {
  display: none;
}
/*!************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/view/components/common/SignupMessage/SignupMessage.module.css ***!
  \************************************************************************************************************************************************************/
.S434b6A_kmo9pjioHFGr {
  background-color: var(--default-bg-color);
  border-radius: 1.2rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
}

.S434b6A_kmo9pjioHFGr a {
  margin: 0;
  font-size: 1.2rem;
}

/* .successLink a:last-child {
  margin: 0;
  font-size: 1.2rem;
} */
.JF1mAaipCRLkxwB0hDjl {
  align-self: center;
  font-size: 1.2rem;
  margin-top: 1rem;
  padding: 0.5rem;
  width: 10rem;
  height: 4rem;
  border-radius: 1.2rem;
  background-color: var(--primary-text-color);
  color: var(--light-text-color);
  border-color: var(--border-color);
  cursor: pointer;
  align-self: center;
}

.NlgTU4ha2Zhq2ruAYVQM {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.NuF2bWfZDXK9vsttptGJ {
  display: none;
}
/*!***************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/view/pages/NotFound/not-found.module.css ***!
  \***************************************************************************************************************************************/
.YwRJQEEPcVpsnYbC9CgD {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(e86a5dce180e03320078.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.YwRJQEEPcVpsnYbC9CgD .yhqlMibMlcU6RGuRLF_j {
  font-size: 12rem;
}
.YwRJQEEPcVpsnYbC9CgD ._iXsDKTXzJmRTPjSQlJs {
  font-size: 3rem;
  font-weight: 600;
}
.YwRJQEEPcVpsnYbC9CgD .F7C9vailbgcP5rA3zHLw {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 5px;
  background-color: #7e7474;
  margin-top: 20px;
  text-decoration: none;
  font-weight: 600;
  color: #000;
  transition: 0.2s all ease-in;
}
.YwRJQEEPcVpsnYbC9CgD .F7C9vailbgcP5rA3zHLw:hover {
  cursor: pointer;
  background-color: rgb(177, 96, 58);
}
/*!*********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/view/components/FormInput/FormInput.module.css ***!
  \*********************************************************************************************************************************************/
.GlrfDve1GgZxZ0OLri_V {
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 0.8rem 1.3rem 0.8rem 0.8rem;
  outline: 0;
  border: 0;
  background-color: rgba(72, 134, 175, 0.3490196078);
  margin-top: 0.1rem;
  border-radius: 2px;
  color: var(--light-text-color);
}

.GlrfDve1GgZxZ0OLri_V::placeholder {
  color: var(--light-text-color);
}

.mubwvIc7uAGrOjpxXdmk {
  display: inline-block;
  width: 100%;
  height: 12px;
  color: #900;
  font-size: 1.1rem;
  text-align: center;
  transition: opacity ease-in 0.3s;
  opacity: 0;
}

.mubwvIc7uAGrOjpxXdmk:not(:empty) {
  opacity: 1;
}
/*!*********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/view/components/LoginForm/LoginForm.module.css ***!
  \*********************************************************************************************************************************************/
@charset "UTF-8";
.q33iS57ks8Ws8m9kNiEy {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 30rem;
  padding: 20px;
  overflow: hidden;
}

.q33iS57ks8Ws8m9kNiEy label {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--light-text-color);
}

.q33iS57ks8Ws8m9kNiEy label:has(input[type=checkbox]) {
  position: relative;
}

.q33iS57ks8Ws8m9kNiEy input[type=checkbox] {
  width: 0;
  position: absolute;
  right: 2rem;
  top: 3rem;
  opacity: 0.5;
}

.q33iS57ks8Ws8m9kNiEy input[type=checkbox]:checked {
  opacity: 1;
}

.q33iS57ks8Ws8m9kNiEy input[type=checkbox]::after {
  content: "👁️";
  position: absolute;
}

.q33iS57ks8Ws8m9kNiEy button {
  padding: 0.4rem 0.6rem;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 3px;
  border: 0;
  background-color: #5982f5;
  color: #fff;
}

.q33iS57ks8Ws8m9kNiEy button:disabled {
  color: rgba(0, 0, 0, 0.6039215686);
  border: 1px solid rgba(0, 0, 0, 0.6039215686);
  background-color: transparent;
  cursor: default;
}

.X6CcpYhOYhDha9OQdMjv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  gap: 1rem;
}

.pTlLLbiiPZrfuGhHGyPX {
  color: #900;
  font-size: 2rem;
}
/*!********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/view/pages/Login/Login.module.css ***!
  \********************************************************************************************************************************/
.UyunRQA98QvmDiFu7Zrz {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  padding-top: calc(1vw + 100px);
  background: url(bf8a2064b349646a655b.jpg) no-repeat;
  background-size: cover;
}

.UyunRQA98QvmDiFu7Zrz h2 {
  margin-bottom: 2rem;
  color: var(--light-text-color);
}

.kkMqa67yougWvgv_0pHM {
  display: flex;
  align-items: center;
}

.kkMqa67yougWvgv_0pHM p {
  font-size: 1.2rem;
  color: var(--light-text-color);
}

.LNrKtqkcBxnIDf1DtBuw {
  font-size: 1.6rem;
  color: rgb(34, 61, 185);
  align-self: center;
}
/*!********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/index.css ***!
  \********************************************************************************************************/
:root {
  --accent-color: rgb(14, 165, 233);
  --default-bg-color: rgb(255, 255, 255);
  --primary-text-color: rgb(17, 24, 39);
  --body-text-color: rgb(75, 85, 99);
  --light-text-color: rgb(248, 248, 248);
  --gray-bg-color: rgb(248, 248, 248);
  --border-color: rgb(229, 231, 235);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  background-color: var(--default-bg-color);
}
